body, html{
    background-color: #ba4949;
    height: 80%;
    margin: 0;
}

#header{
    text-align: center;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;

}
.wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
   margin: 0px;
   padding: 70px; 
   text-align: center;
   background-color: #c15c5c;
   border-radius: 3px;
   
}

.b_design{
    background-color: #eeeeee;
    border: none;
    color: #ba4949;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    border-radius: 5px;
    font-weight: bold;
}

.b_design:hover{
    background-color:#cccccc;
}

.b_design:active {
    transform: translateY(2px);
}

#time{
    font-size: 80px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.button_container{
    border-radius: 5px;
    background-color: #8c3b2a;
    padding: 3.5px 10px;
    border: none;
    font-weight: bold;
    color: white;
}

.button_container:active{
    transform: translateY(1px);
}

#counter_container{
    margin-top: 15px;
    color: white;
    text-align: center;
    font-weight: bold;
}

#counter{
    color: rgba(5, 4, 4, 0.763);
}
#alert{
    color:rgb(0, 0, 0);
    
    font-weight: bold;
    visibility: hidden;
    
}

@media(max-width: 1025px)
{
    .container{
        width: 100%;
    }
    .wrapper{
        align-items: flex-start;
        padding-top: 10%;
        
    }
}

@media (max-width:450px)
{
    #time {
        font-size: 4em;
    }

    .b_design{
        font-size: 24px;
    }

    .button_container{
        padding: 5px;
    }
}

@media (max-width:382px){
    #time {
        font-size: 3em;
    }

    .b_design{
        font-size: 14px;
    }

    .button_container{
        padding: 3px;
    }

}